# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# Ignore the dist directory, which typically contains build output files.
/dist

# Ignore the .npmrc file which contains configuration settings for npm.
.npmrc